* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #333333;
}

p {
  color: #7d7d7d;
  font-weight: 600;
  margin-left: 1rem;
}

button {
  background-color: #5BA9EF;
  border-radius: 5px;
  border: none;
  color: #fbfbfb;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  height: 2.5rem;
  margin: 1rem;
  width: 100px;
}

button:hover {
  background-color: #5194cf;
  color: #fbfbfb;
}

button:focus {
  outline: none;
}

.container {
  width: 100%;
  height: calc(100vh - 5rem);
  background: #fff;
}

.array {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: calc(100vh - 5rem);
  margin-left: 2rem;
  margin-right: 2rem;
}

.bar {
  width: 0.5rem;
  background-color: #d8d8d8;
  margin-right: 0.5rem;
}

.bar-red {
  width: 0.5rem;
  background-color: #ff6b6b;
  margin-right: 0.5rem;
}

.bar-blue {
  width: 0.5rem;
  background-color: #8bd0df;
  margin-right: 0.5rem;
}

.bar-green {
  width: 0.5rem;
  background-color: #85e96f;
  margin-right: 0.5rem;
}

.toolbar {
  align-items: center;
  background-color: #ffffff;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 5rem;
}

.divider {
  border-left: 2px solid #ffffff;
  height: inherit;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slider {
  -webkit-appearance: none;
  height: 0.5rem;
  border-radius: 5px;
  background: #cfcfcf;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-left: 1rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #4b81e8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4b81e8;
  cursor: pointer;
}

.slider-value {
  color: #7d7d7d;
  margin-left: 0.5rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-family: sans-serif;
}

select {
  background-color: #5BA9EF;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  height: 2.5rem;
  padding-left: 0.5rem;
  width: 150px;
}

select:focus {
outline: none;
}

option {
  background-color: #4f92ce;
  font-size: 1rem;
}
